* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: Sans-Serif;
  color: #7f8c8d
}

body {
  height: 100%;
  background-color: #fff;
}

.parallax {
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
  position: relative;
}



.bgimg1 {
  background-image: url("hero1.jpg");
}

.bgimg2 {
  background-image: url("bg3.jpg");
  height: 200px;
}

.bgimg3 {
  background-image: url("hero3.jpg");
  height: 200px;
}

.heading {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  top: 45%;
}

.title {
  
  text-transform: uppercase;
  color: #000;
  padding: 15px;
  font-size: 25px;
  letter-spacing: 10px;
  opacity: 0.9;
}

.text {
  padding: 50px;
   
}

h1 {
  text-align: center;
  padding-bottom: 30px;
  text-transform: uppercase;
}

p {
  text-align: center;
  text-align: justify;
}



#home {
    min-height: 100%;
}

#about {
    min-height: 100%;
}

#skills{
    min-height: 100%;
}

#projects {
    min-height: 100%;
}

#contact{
    min-height: 100%;

}

/*first Slide*/

#logo img{
    position: absolute;
    margin: auto;
    left:0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity:;
   
    
    
}
/*2nd slide*/

#abox1{
    background-image: url("Untitled-1.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    position:absolute;
    margin: auto;
    left: 20px;
    border-radius: 10px;
    width: 30%;
    height: 60%;
    padding: 20px;
    text-align: center;
    font-size: 36pt;
}

#abox2{
    background-image: url("cardgif.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    background-color: white;
    position:absolute;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 10px;
    width: 30%;
    height: 60%;
    padding: 20px;
    text-align: center;
    font-size: 36pt;
}

#abox3{
    background-color: white;
    background-image: url("goodandevil.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    position:absolute;
    margin-right: auto;
    right: 20px;
    border-radius: 10px;
    width: 30%;
    height: 60%;
    padding: 20px;
    text-align: center;
    font-size: 36pt;
}
/*4th slide*/

#ppbox1{
    background-image: url("animatediconz.gif");
    
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    position:absolute;
    margin: auto;
    left: 20px;
    border-radius: 10px;
    width: 30%;
    height: 60%;
    padding: 20px;
    text-align: center;
    font-size: 36pt;
}

#ppbox2{
    background-image: url("bulbous.gif");
    
    background-position: center;
    background-repeat: no-repeat;
    
    position:absolute;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 10px;
    width: 30%;
    height: 60%;
    padding: 20px;
    text-align: center;
    font-size: 36pt;
}

#ppbox3{
    background-image: url("designanimated.gif");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    background-color: white;
    position:absolute;
    margin-right: auto;
    right: 20px;
    border-radius: 10px;
    width: 30%;
    height: 60%;
    padding: 20px;
    text-align: center;
    font-size: 36pt;
}

/*3rdslide*/

#mVideo{
    height: 100%;

    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin:auto;
*/

}



/*nav bar*/


 .dotnav-right {
            right: 10px;
            top: 50%;
            margin-top: -50px;
            height: 100px;
            z-index: 999;
            position: fixed;
        }

        .dotnav {
            padding: 0;
            list-style: none;
            font-size: 0.001px;
        }

        .dotnav > li {
            display: inline-block;
            font-size: 1rem;
            vertical-align: top;
        }
        .dotnav > li:nth-child(n+2) {
            margin-left: 15px;
        }

        .dotnav > li > a {
            display: inline-block;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 2px solid #9fa0a0;
            vertical-align: top;
            overflow: hidden;
            padding: 0;
            text-indent: -999%;
        }
        .dotnav > li > a:hover,
        .dotnav > li > a:focus {
            background: #9fa0a0;
            outline: none;
        }
        .dotnav > li > a:active {
            background: #9fa0a0;
        }
        .dotnav > li.active > a {
            background: #9fa0a0;
        }
        .dotnav-vertical > li {
            display: block;
            margin-right:10px;
        }
        .dotnav-vertical > li:nth-child(n+2) {
            margin-left: 0;
            margin-top: 10px;
        }
        .awesome-tooltip + .tooltip > .tooltip-inner {
            background-color: #9fa0a0; 
            color: #fff; 
            border: 1px solid #9fa0a0; 
        }
        .awesome-tooltip + .tooltip.left > .tooltip-arrow{
            top:50%;
            right:0;
            margin-top:-5px;
            border-top:5px solid transparent;
            border-bottom:5px solid transparent;
            border-left:5px solid #9fa0a0;
        }